.brick{
    background-color: blueviolet;
    position: fixed;
    top: 40px;
    left: 20px;
    width: 10%;
    height: 10%;
    border:1px solid black
}

.dying-brick {
    background:url(http://kartinki.info/uploads/posts/2017-01/1483646346_2578.gif) 5% 5% fixed; 
    background-size: cover;
}