.brick{
    background-image: url('brick.jpg');
    background-size: cover;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 10%;
    height: 10%;
    border: 1px solid black;
    box-sizing: border-box;
}

.bangbrick {
    background-image: url('explosion.gif');
    position: fixed;
    top: 40px;
    left: 20px;
    width: 50%;
    height: 50%;
    
    
    background-repeat: repeat;
    background-position: center;
}