.paddle {
    
    background-image: url("paddle.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 5px;
    width: 10%;
    height: 3%;
}
